{
  "root": true,
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "quoteProps": "consistent",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["@react-native-community", "prettier"]
}